.heritage {
    margin: 2% 0 0 ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid;
    padding: 4%;
    background-color: #ceb678;
}
.heritage img{
    width: 50%;
}

.nous img {
    width: 30%;
    justify-content: center;
}

.suggestion {
    margin-top: 2%;
    display: flex;
    align-items: center;
    background-color: #ceb678;
    border: solid;
    justify-content: space-evenly;
    padding: 1%;
}

.heritage p {
    margin-left: 2%;
    display:block;
}

.etape {
    margin: 2% 0 0 ;
    justify-content: space-around;
    align-items: center;  
}

h1 {
    font-size: 300%; 
}

.tous {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.biere {
    text-align: center;
    width: 20%;
}

.suggestion img {
    width: 80%;
}