/* Reset and basic styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
@font-face {
    font-family: 'Aldo';
    src: url('/public/fonts/Aldo PC.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('/public/fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Noatun';
    src: url('../fonts/Noatun v1.otf') format('opentype');
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #fff;
}

a{
    text-decoration: none;
    color: black;
}

button{
    background-color: #c88a36;
    border-radius: 10px;
    border: 0px;
}

/* Navigation styles */
nav {
    background-color: #1f1a03;
    padding: 20px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    transition: all 0.3s ease-in-out;
}

nav ul li {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 17px;
    position: relative;
    padding: 15px 20px;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

nav ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #c88a36;
    transition: all 0.3s ease-in-out;
}

nav ul li:hover::before {
    width: 100%;
    left: 0;
}

nav ul li:hover {
    background-color: #333;
    transform: scale(1.1);
}

#bouton_panier {
    height: 100px;
}

/* Responsive styles for the header */
@media only screen and (max-width: 1024px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    #bouton_panier {
        height: 70px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .logo img {
        max-height: 40px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    #bouton_panier {
        height: 50px;
    }

    li {
        font-size: 15px;
    }
}

@media only screen and (max-width: 480px) {
    nav {
        padding: 10px;
    }

    .logo img {
        max-height: 30px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }

    #bouton_panier {
        height: 40px;
    }

    li {
        font-size: 13px;
    }
}

/* Footer styles */
footer {
    background-color: #1f1a03;
    padding: 30px 20px;
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.brasserie {
    flex-basis: 100%; /* Prendre toute la largeur sur une ligne */
}

.brasserie-name {
    font-family: 'Aldo', sans-serif;
    margin-bottom: 10px;
    font-size: 24px;
}

.brasserie-address {
    margin-bottom: 20px;
    font-size: 18px;
}

.sections {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%; /* Prendre toute la largeur sur une ligne */
}

.section-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.section-list li {
    margin-bottom: 10px;
}

.section-link {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.section-link:hover {
    color: #c88a36;
}

/* Styles pour la mention de copyright */
.copyright {
    margin-top: 20px;
    font-size: 14px;
    opacity: 0.7;
    flex-basis: 100%; /* Prendre toute la largeur sur une ligne */
}
