/* Reset and basic styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Font faces */
@font-face {
    font-family: 'Aldo';
    src: url('/public/fonts/Aldo PC.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('/public/fonts/Montserrat-Bold.ttf') format('truetype');
}

/* Basic styles for body */
body {
    font-family: sans-serif; /* Default fallback font */
    color: #333;
    background-color: #fff;
}

/* Footer styles */
footer {
    background-color: #1f1a03;
    padding: 20px;
    color: white;
    text-align: center;
}

/* Container styles */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

/* Brasserie styles */
.brasserie {
    font-family: 'Aldo', sans-serif;
    text-align: center;
}

/* Map container styles */
.map-container {
    margin-top: 20px;
}

.map-container iframe {
    width: 300px;
    height: 200px;
}

/* Sections styles */
.sections {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centering the menu items */
}

.sections ul {
    list-style-type: none;
    margin: 20px 0; /* Adding vertical margin */
}

.sections ul li {
    margin-bottom: 10px;
    text-align: center;
}

.sections ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition */
}

.sections ul li a:hover {
    color: #c88a36; /* Change color on hover */
}

/* Button styles */
.main .button {
    background-color: white;
    width: 56px;
    height: 56px;
    float: left;
    border-radius: 50px;
    margin: 0 12px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

.main .button:hover {
    width: 160px;
}

.main .button:nth-child(1):hover {
    background: linear-gradient(
        to right,
        hsl(50, 22%, 66%),
        hsl(49, 30%, 22%)
    );
    color: white;    
}

.button .s-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.button .s-icon i {
    font-size: 24px;
}

.button span {
    font-size: 18px;
    font-weight: 700;
}

/* Navigation styles */
nav {
    background-color: #1f1a03;
    padding: 20px; /* Adjusted padding for better spacing */
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 50px; /* Adjust the size of the logo as needed */
}
#logo {
    height: 70px;
}
li {
    font-family: 'Montserrat', sans-serif; /* Specifying fallback font */
    text-decoration: none;
    color: #ccc;
    text-transform:uppercase;
    font-weight: 700;
    font-size: 17px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    transition: all 0.3s ease-in-out;
}
#bouton_panier {
    height: 100px;
}


nav ul li {
    position: relative;
    padding: 15px 20px;
    margin: 0 10px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

nav ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #c88a36;
    transition: all 0.3s ease-in-out;
}

nav ul li:hover::before {
    width: 100%;
    left: 0;
}

nav ul li:hover {
    background-color: #333;
    transform: scale(1.1);
}

/* Dropdown menu example (if applicable) */
nav ul li ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1f1a03;
    padding: 10px 0;
    border-radius: 5px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    width: 200px;
    padding: 10px 20px;
}

nav ul li ul li:hover {
    background-color: #c88a36;
}
.paragraphe {
    font-family: 'Aldo', sans-serif;
    margin: 20px;
}

a {
    text-decoration: none;
}
