*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h1,h2{
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    color: white;
    text-transform: uppercase;
}

body{
    background-color: #1f1a03;
    text-align: center;
}

a{
    text-decoration: none;
    font-family: 'Montserrat',sans-serif;
    color: #1f1a03;
    background-color: white;
    border-radius: 20px;
    padding: 1%;
}
.logo{
    margin: 1%;
    flex-basis: 1%;
}