main{
    margin: 2%;
}

.ligne1{
    display:flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: nowrap;
}
.enfant:nth-of-type(3){
    width:20%;
}

img{
    width: 10%;
} 


.ligne2{
    display:flex;
    justify-content: space-around;
    text-align: center;
}

#quantite{
    display: flex;
    flex-direction: row;
}
.total{
    text-align: right;
}

.line1{
    border-bottom: 2px solid black;
}
#logo{
    height: 70px;
}
#bouton_panier{
    height: 166px;
}
.sommaire img{
    height:160px;
}