main{
    margin: 2%;
}

.ligne1{
    display:flex;
    justify-content: space-around;
    text-align: center;
}

.ligne2{
    display:flex;
    justify-content: space-around;
    text-align: center;
}

.total{
    text-align: right;
}

.biere{
    width: 100px;
}
.line1{
    border-bottom: 2px solid black;
}
#logo{
    height: 70px;
}
#bouton_panier{
    height: 166px;
}
.sommaire img{
    height:160px;
}