@font-face {
    font-family: 'Noatun';
    src: url('../fonts/Noatun v1.otf') format('opentype');
}
.liste-de-biere{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Espace entre les colonnes */
    padding: 10px;
    margin-top: 7%;
    
    cursor: default;
}



.photodebut{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4%;
}

.titrestyle{
    text-align: center;
    padding-top: 4%;
    font-size: 50px;
    cursor: default;
    color: white;
    font-family: 'Aldo';
}

.nombiere{
    text-align: center;
    padding-bottom: 2%;
    margin-bottom: 1%;
    color: white;
    cursor: default;
    font-family: 'Noatun';
    transition: width 0.3s ease;
    font-weight: 100;
}

.prixbiere{
    text-align: center;
    margin-bottom: 1%;
    color: white;
    cursor: default;
}

.typebiere{
    text-align: center;
    color: white;
    cursor: default;
    padding-top: 2.8%;
    margin-bottom: 2%;
}

.pourcentage{
    text-align: center;
    margin-bottom: 1%;
    color: white;
    cursor: default;
}

.panier{
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 26%;
    margin-bottom: 4%;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 2.75%;
    color: white;

}

.panier:hover{
    background-color: white;
    color: black;
}




.photo{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.3s ease;    
}




.item{
    margin-bottom: 9%;
    
}


.photo:hover {
    transform: scale(1.1); /* Agrandit l'image à 110% */
}

.blanc{
    background-color: white;
    padding-top: 1%;
    color: white;
    cursor: default;
}
.main{
    background: linear-gradient(#1f1a03, #4a4427);
}

.couleurfond{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #ceb678;  
    width: 50%;
    height: 100%;
    border-radius: 10px;
    
}