/* Reset and basic styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* Couleur de fond du corps */
body {
    background: linear-gradient(#1f1a03, #4a4427);
    font-family: 'public/Aldo PC.ttf', sans-serif;
    color: #fff; /* Couleur du texte */
}

/* Style général des titres */
.titre {
    color: #ceb678; /* Couleur du titre */
    text-align: center;
    margin: 20px;
    font-size: 40px;
    font-family: 'Aldo';
}

/* Style de l'image d'introduction */
.intro-image {
    display: block;
    margin: 0 auto 20px auto;
    max-width: 100%;
    height: auto;
}
/* Style des paragraphes de storytelling */
.storytelling p.paragraphe {
    background-color: #ceb678; /* Couleur de fond */
    padding: 20px; /* Ajouter un espacement intérieur */
    margin-bottom: 20px; /* Ajouter un espacement en bas */
}
/* Style du paragraphe d'introduction */
.paragraphe {
    font-family: 'Aldo';
    margin: 0 auto;
    max-width: 800px; /* Définir la largeur maximale */
    text-align: justify;
    background-color: #ceb678; /* Couleur de fond */
    padding: 20px; /* Ajouter un espacement intérieur */
    margin-bottom: 20px; /* Ajouter un espacement en bas */
}

/* Styles de la section de l'équipe */
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 100px;
}

.member {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}

.image-container {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Aspect ratio 1:1 */
    overflow: hidden; /* Assure que le débordement est caché pour recadrer l'image */
}

.image-container img {
    position: absolute;
    width: auto;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain; /* Remplacez 'cover' par 'contain' */
    transition: opacity 0.3s ease;
}

.default-img {
    z-index: 1;
}

.hover-img {
    z-index: 2;
    opacity: 0;
}

.image-container:hover .hover-img {
    opacity: 1;
}

.image-container:hover .default-img {
    opacity: 0;
}

/* Style des titres des personnes */
.personne {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
    font-size: 1em;
    background-color: #ceb678; /* Couleur de fond */
    padding: 10px; /* Ajouter un espacement intérieur */
    margin-bottom: 10px; /* Ajouter un espacement en bas */
}


#alexis, #ange {
    height: 300px;
}

.image-alexis-ange {
    display: flex;
    justify-content: center;
    gap: 20px; /* Ajustez l'espace selon vos besoins */
    margin-bottom: 20px;
}

/* Media queries pour rendre le site responsive */
@media only screen and (max-width: 768px) {
    .member {
        width: 100%; /* Ajuste la largeur des membres de l'équipe pour les écrans plus petits */
    }

    .team {
        flex-direction: column;
        align-items: center;
    }

    .image-alexis-ange {
        flex-direction: column;
    }

    #alexis, #ange {
        height: auto;
        width: 80%; /* Ajustez la largeur selon vos besoins */
    }
}

@media only screen and (max-width: 480px) {
    .titre {
        font-size: 30px;
    }

    .paragraphe {
        font-size: 14px;
    }

    .image-alexis-ange {
        gap: 10px;
    }
}
