#intro {
    text-align: center;
    margin: 5% 0;
}

h2 {
    color: #c88a36;
}

/* Body background color */
body {
    background-color: #ddd8bd;
}

#bouton_panier {
    height: 100px;
}

.titre {
    font-family: 'Noatun';
    color: #c88a36;
    margin: 20px;
}

/* Team member section */
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 300px; /* Added margin-bottom to create space below the team section */
}

.member {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.member img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.member .personne {
    margin-top: 10px;
    font-size: 1.2em;
    color: #333;
}

.member .descriptif {
    font-size: 1em;
    color: #666;
}

/* Storytelling section */
.storytelling {
    padding: 20px;
    background-color: #f5f5f5;
    border-top: 1px solid #ccc;
}

.storytelling img {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

.storytelling p {
    font-size: 1.1em;
    color: #333;
    line-height: 1.6;
    margin-top: 10px;
}

#ange{
    height: 300px;
}
